@value grayish, marginBottom from './layout.css';

.title {
  margin-bottom: 0.5rem;
}
.title:last-child {
  margin-bottom: marginBottom;
}

.titleLink {
  color: black;
}

.timestamp {
  display: block;
  margin-bottom: marginBottom;
  color: grayish;
}
