@value accentColor, interactive, interactiveLetterSpacing, maxMobileWidth, maxWidth, menuFont, offWhite from './layout.css';

@value boxShadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.2);

.header {
  background: accentColor;
  margin-bottom: 1.45rem;
  box-shadow: boxShadow;
}

@media screen and (max-width: maxMobileWidth) {
  .header {
    text-align: center;
  }
}

.innerHeader {
  margin: 0 auto;
  max-width: maxWidth;
  padding: 0 1rem;
}

.heading {
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
}

.link {
  composes: interactive;
}

.activeLink {
  composes: link;
  position: relative;
  display: inline-block;
  border-bottom: 2px solid;
}

/*
The `letter-spacing` from `interactive` leaves space after the last letter.
When you add a bottom border, the border goes too far past the end of the word.
We add a box matching the background color to hide the extra border.
*/
.activeLink::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: -2px;
  width: interactiveLetterSpacing;
  background: accentColor;
}

.navList {
  display: flex;
  margin: 0;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: maxMobileWidth) {
  .navList {
    justify-content: center;
  }
}

.navListItem {
  margin-right: 1rem;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.contextualLinks {
  max-width: maxWidth;
  margin: -0.5rem auto 1rem;
  padding: 0 1rem;
}
