@value layout: './layout.css';
@value accentColor, maxMobileWidth, maxWidth, menuFont, offWhite from layout;

@value boxShadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.2);

.header {
  background: accentColor;
  margin-bottom: 1.45rem;
  box-shadow: boxShadow;
}

@media screen and (max-width: maxMobileWidth) {
  .header {
    text-align: center;
  }
}

.innerHeader {
  margin: 0 auto;
  max-width: maxWidth;
  padding: 0 1rem;
}

.heading {
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: normal;
}

.link {
  composes: interactive from layout;
}

.navList {
  display: flex;
  margin: 0;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: maxMobileWidth) {
  .navList {
    flex-direction: column;
  }
}

.navListItem {
  margin-right: 1rem;
  margin-bottom: 0;
  font-size: 0.75rem;
}

@media screen and (max-width: maxMobileWidth) {
  .navList {
    flex-direction: column;
    margin: 0;
  }
}

.contextualLinks {
  max-width: maxWidth;
  margin: -0.5rem auto 1rem;
  padding: 0 1rem;
}
