@value grayish, interactive, maxMobileWidth, maxWidth, offWhite, shadowColor from './layout.css';
@value boxShadow as headerShadow from './header.module.css';

@value boxShadow: 0 0 16px 2px shadowColor;
@value footerShadow: rgba(0, 0, 0, 0.025);

@value footerHeight: 4rem;
@value headerHeight: 3rem;

.modal {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: calc(maxWidth * 3 / 4);
  max-width: 80%;
  max-height: 80%;
  box-shadow: boxShadow;
}

@media screen and (max-width: maxMobileWidth) {
  .modal {
    width: 80%;
  }
}

.headerRow {
  composes: interactive;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: headerHeight;
  box-shadow: headerShadow;
}

.heading {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: normal;
}

.closeButton {
  color: offWhite;
}

.children {
  margin: headerHeight 0 footerHeight;
  padding: 1rem;
  background: offWhite;
  overflow: auto;
}

.footerRow {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: footerHeight;
  background: #f0f0f0;
  box-shadow: 0 -1px footerShadow, 0 -2px footerShadow, 0 -3px footerShadow,
    0 -4px footerShadow;
}
