@value maxMobileWidth, negativeRed, positiveGreen from './layout.css';

@media screen and (max-width: maxMobileWidth) {
  .container {
    display: flex;
    justify-content: center;
  }
}

.quizName {
  margin: 0;
}

.summary {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.perfect {
  composes: summary;
  color: positiveGreen;
}

.correct {
  color: positiveGreen;
}

.incorrect {
  color: negativeRed;
}

.question {
  display: block;
  margin-bottom: 0.5rem;
}

.answer {
  width: 100%;
}
